<!DOCTYPE html>
<html>
	<head>
		<title>SIJV</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="/styles/importer.css">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
	</head>
	<body>
	<%- body %>
	<script src="/dependencies/sails.io.js"></script>

	<div id="loading">
		<h1>¡ESPERÉ! <b id="msg"></b></h1>
		<div class="spinner-container">
			<div class="spinner"></div>
		</div>
	</div>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
	<script src="/dependencies/sails.io.js"></script>

	<style type="text/css">

		#loading{
			display: none;
			position: fixed;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			background: rgba(0,0,0,0.9);
			transition: 1s;
		}

		#loading h1 {
		  text-transform: uppercase;
		  position: absolute;
		  left: 50%;
		  top: 30%;
		  transform: translate(-50%, -50%);
		  color: #3BFDBE;
		}

		#loading .spinner-container {
		  position: absolute;
		  left: 50%;
		  top: 50%;
		  transform: translate(-50%, -50%);
		}

		#loading .spinner {
		  border-radius: 50%;
		  width: 4rem;
		  height: 4rem;
		  border: 0.5em solid #fff;
		  border-top-color: #3BFDBE;
		  animation: 1s infinite spin linear;
		}

		@keyframes spin {
		  0% {
			transform: rotate(0);
		  }
		  100% {
			transform: rotate(360deg);
		  }
		}

	</style>

	</body>
</html>