<body style="background-color: #879CBD;">
    <div class="container" style="margin: auto; text-align:center; margin-top:5%;">
      <h1 style="color: white;"><%=datos.nombres%> <%=datos.apellidos%></h1>
      <h3 style="color: white;"><%=datos.matricula%></h3>
    </div>
    <div class="container" style="margin-left: auto; margin-right:auto; max-width:80%; margin-top: 2%;">
      <table class="table">
        <thead style="background-color: #FBE842;">
          <tr>
            <th scope="col">Campo Formativo</th>
            <th scope="col">Trimestre</th>
            <th scope="col">Observaciones</th>
          </tr>
        </thead>
        <tbody style="background-color: #A6C9FE;">
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>